<html>
    <head>
        <title>Course Report</title>
    </head>
    <body>
        <div align="right">
            <button onclick="window.print()">Print</button>
            <a href="{% url 'home' %}"><button type="button">Home</button></a>   
        </div>

        <div align="center">
            <h1>Course Master -REPORT</h1>
            <h3>Courses</h3>
                <table  border="2" style="border-collapse: collapse; width: 50%; font-size: 25px;">
                    <tr>
                        <th>Course ID</th> <th>Course</th>
                    </tr>

                    {% for x in data %}
                    <tr align="center">
                        <td>{{x.courseid}}</td>
                        <td>{{x.course}}</td>
                    </tr>
                    {% endfor %}
                </table>
        </div>
    </body>
</html>
