{% extends "master.html" %}
{% block title %}Delete Student{% endblock %}
{% block content %}
<div align="center" style="color: white;">  
    <h1>Student Master -DELETE</h1>
        <table border="2" style="border-collapse: collapse;  border-color: white; width: 60%; font-size: 20px;">
            <tr class="thead"> <th>Batch</th>  <th>Course</th> <th>Semester</th> 
                <th>Student RegNo</th> <th>Student Name</th> <th>Delete</th> </tr>

            {% for x in data %}

            <tr align="center">
                <td>{{x.batchno}}</td>
                <td>{{x.course}}</td>
                <td>{{x.sem}}</td>               
                <td>{{x.studregno}}</td>
                <td align="left">{{x.studname}}</td>
                <td><a href ="{% url 'delete6' pk=x.id %}" onclick="return confirmDelete();">
                    <i class="fa-regular fa-trash-can"></i>
                </a></td>
            </tr>
            {% endfor %}
        </table>
</div>
<script>
    function confirmDelete() {
        return confirm('Delete this Student?');
    }
</script>  
{% endblock %} 