{% extends "master.html" %}
{% block title %}Delete Batch{% endblock %}
{% block content %}
<div align="center" style="color: white;">
    <h1>Batch Master -DELETE</h1>
        <table  border="2" style="border-collapse: collapse; border-color: white; width: 25%; font-size: 20px;">
            <tr class="thead">  <th>Batch ID</th> <th>Batch NO</th> <th>Delete</th> </tr>

            {% for x in data %}

            <tr align="center">   
                <!-- <td>{{x.id}}</td> -->
                <td>{{x.batchid}}</td>
                <td>{{x.batchno}}</td> 
                <td><a href ="{% url 'delete2' pk=x.id %}" onclick="return confirmDelete();">
                    <i class="fa-regular fa-trash-can"></i>
                </a></td>
            </tr>
            {% endfor %}
        </table>
</div>
<script>
    function confirmDelete() {
        return confirm('Delete this Batch?');
    }
</script>
{% endblock %}