<html>
    <head>
        <title>Exam Report</title>
    </head>
    <body>
        <div align="right">
            <button onclick="window.print()">Print</button>
            <a href="{% url 'home' %}"><button type="button">Home</button></a>   
        </div>

        <div align="center">
            <h1>Exam Master -REPORT</h1>
            <h3>Exams</h3>
                <table  border="2" style="border-collapse: collapse; width: 50%; font-size: 25px;">
                    <tr>
                        <th>Exam ID</th> <th>Exam Type</th>
                    </tr>

                    {% for x in data %}
                    <tr align="center">
                        <td>{{x.examid}}</td>
                        <td>{{x.examtype}}</td>
                    </tr>
                    {% endfor %}
                </table>
        </div>
    </body>
</html>
