{% extends "master.html" %}
{% block title %}Search Course{% endblock %}
{% block content %}
    <div align="center" style="color: white;">
        <h1>Course Master -SEARCH</h1>
        <form method="get">
            {{ form.as_p }}
            <a style="color: #4bbaff;" href="{% url 'searchcourse' %}">Clear</a>
            <button type="submit">Search</button>
        </form>
        {% if results %}
        <h3>Data Found</h3>
        <table border="2" style="border-collapse: collapse;border-color: white; margin-top: 10px; width: 20%; font-size: 20px;">
            <tr class="thead"> <th>Course ID</th> <th>Course</th> </tr>
            {% for item in results %}
            <tr align="center">
                <td>{{ item.courseid }}</td>  
                <td>{{ item.course }}</td>
            </tr>
            {% endfor %}
        </table>
            
        {% elif form.is_bound %}
            <h2>Data Not Found</h2>
        {% endif %}
    </div>
{% endblock %}